*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #034b63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  5rem;
}

.navbar a{
   font-size: 25px;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 50px;
}

.navlinks a{
   font-size: 18px;
   font-weight: 600;
   color: #fff;
}

.firstSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    gap: 40px;
}

.firstSection h1{
    font-size: 20px;
}

.firstSection p{
    margin: 20px  0;
    font-size: 17px;
    font-weight: 400;
}

.firstSection button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #034b63;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.firstSection button:hover{
    background-color: #052f3b;
    color: #fff;
    font-weight: 500;
}

.footerClass{
    text-align: center;
    background-color: #034B63;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.footerMedia{
    margin-top: 20px;
}

.footerMedia a{
    margin-right: 20px;
    color: rgb(216, 210, 210);
    font-size: 30px;
}

.footerClass p{
    margin: 20px 0;
}

.footerClass hr{
    width: 70%;
    margin-left: auto;
    margin-right:auto ;
    color: rgb(148, 147, 147);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#102334;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}

@media screen and (max-width:992px) {
    .firstSection{
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem  2rem;
    }
}

@media screen and (max-width:768px) {
    .firstSection{
        grid-template-columns: repeat(1, 1fr);
        padding: 5rem;
    }
}

@media screen and (max-width:375px) {
    .firstSection{
        grid-template-columns: repeat(1, 1fr);
        padding: 5rem  2rem;
    }
    
    .AffilliateText p{
        width: 100%;
    }

    .footerClass img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .footerClass p{
        font-size: 15px;
        padding: 0 30px;
    }
}