*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.blur{
    filter: blur(3px);
}

.hideScroll{
    overflow-y: hidden;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: #034b63;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  5rem;
}

.navbar h1{
    font-size: 20px;
    display: inline-block;
    color: #57e5f1;
    padding: 5px  10px;
    box-shadow: 1px 1px 2px rgb(48, 47, 47);
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    gap: 50px;
}

.navlinks a{
   font-size: 18px;
   font-weight: 600;
   color: #fff;
}

.firstSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    gap: 40px;
}

.firstSection h1{
    font-size: 20px;
}

.firstSection p{
    margin: 20px  0;
    font-size: 17px;
    font-weight: 400;
}

.firstSection button{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    background-color: #034b63;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.firstSection button:hover{
    background-color: #052f3b;
    color: #fff;
    font-weight: 500;
}

.footerClass{
    text-align: center;
    background-color: #034B63;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.footerClass h1{
    font-size: 25px;
   display: inline-block;
   color: #57e5f1;
    font-style: italic;
    border: 1px solid #fff;
    padding: 5px  10px; 
}

.footerMedia{
    margin-top: 20px;
}

.footerMedia a{
    margin-right: 20px;
    color: rgb(216, 210, 210);
    font-size: 30px;
}

.footerClass p{
    margin: 20px 0;
}

.footerClass hr{
    width: 70%;
    margin-left: auto;
    margin-right:auto ;
    color: rgb(148, 147, 147);
}

.hamburger{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#102334;
    color: white;
    cursor: pointer;
    padding: 7px;
    border-radius: 4px;
}

@media screen and (max-width:992px) {
    .firstSection{
        grid-template-columns: repeat(2, 1fr);
        padding: 5rem  1.5rem;
        width: 100%;
    }

    .firstSection p{
        font-size: 12px;
        margin-bottom: 50px;
    }

    .firstSection button{
        margin-bottom: 50px;
    }

    .footerClass{
        margin-top: 500px;
    }
}

@media screen and (max-width:768px) {
    .firstSection{
        grid-template-columns: repeat(1, 1fr);
        padding: 5rem;
    }

    .firstSection p{
        font-size: 16px;
    }

    .footerClass{
        margin-top: 0px;
    }

    /* This is used to style the navigation bar */
    .hamburger{
        display: block;
        font-size: 23px;
    }

    .ri-close-circle-fill{
        display: none;
    }

    /* Styling the navlinks and navbar on smaller screen. */
    .navlinks{
        background-color:rgb(175, 186, 199);
        flex-direction: column;
        position: absolute;
        width: 300px;
        top: 50%;
        right: -50%;
        left: -50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        padding: 2rem;
        transition: .5s;
        border-radius: 10px;
    }

    .navlinks a{
      color: #141F44;
      font-weight: 600;
      font-size: 15px;  
    }

    .navbar{
        padding: 12px 1rem;   
    }
}

@media screen and (max-width:375px) {
    .firstSection{
        grid-template-columns: repeat(1, 1fr);
        padding: 5rem  2rem;
    }
    
    .AffilliateText p{
        width: 100%;
    }

    .footerClass img{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .footerClass p{
        font-size: 15px;
        padding: 0 30px;
    }
}